@charset "utf-8";
body {
  margin: 0;
  background-color: #fce4ec;
}
/* header {
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
} */
a {
  text-decoration: none;
  color: black;
}
.header_top {
  width: 100%;
  height: 30px;
  background-color: #c48b9f;
}
.top {
  display: flex;
  float: right;
  padding-right: 200px;
  list-style: none;
  padding-top: 4px;
}
.top_btn {
  margin: 1px;
  padding: 4px;
  border-radius: 4px;
}
.top_btn:hover {
  background-color: #eeeeee;
  border-radius: 4px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8bbd0;
  margin: 0;
}

.navbar_title {
  padding-left: 0;
}

.navbar_title p {
  display: inline;
}
/* .navbar_title {
  display: flex;
  list-style: none;
  padding-left: 0px;
} */
.navbar_menu {
  display: flex;
  list-style: none;
  padding-left: 0px;
}

.navbar_menu li {
  border-right: 1px solid #ffeeff;
  border-left: 1px solid #ffeeff;
  padding: 8px 12px; /* 마우스 선택영역이 넓어짐 */
}

.navbar_menu li:hover {
  background-color: #ffeeff;
  font-weight: bold;
  border-radius: 4px;
}

.navbar_logo {
  padding-right: 0px;
}
hr {
  height: 1px;
  color: #c48b9f;
  background-color: #c48b9f;
  margin: 1px;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    padding: 8px 24px;
  }
  .navbar_title {
    width: 50px;
  }

  .navbar_title {
    width: 100%;
    font-size: 0px;
    text-align: center;
    padding: 0px;
  }
  .navbar_menu {
    flex-direction: column;
    width: 100%;
  }
  .navbar_menu li {
    width: 100%;
    text-align: center;
    padding: 8px 24px;
  }
  .top {
    position: absolute;
    right: 0px;
    padding: 0px;
  }
  .navbar_logo img {
    display: none;
  }
}

#mySerach {
  margin-left: 20%;
  width: 60%;
  height: 80px;
  background-color: #efefef;
}

.mySerach {
  width: 100px;
  height: 30px;
  margin-left: 100px;
}

footer {
  width: 100%;
  height: auto;
  padding-top: 3%;
  background-color: #ffffff;
}
