<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../resources/css/headerfooter.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/대외활동글쓰기.css">
 
</head>
<style>
  .textline1{ width: 800px;}
  .jungba{color:pink}
  .areabutton{text-align:center; font-size: 12px; padding: 5px; width:90px; border:1px;
            background-color: rgb(185, 185, 185); border-radius: 3px; margin-left: 3px; margin-top: 5px; margin-right: 5px;}
  #areatable{margin-top: 5px;}
  .first{border-radius: 3px; background-color:slategray}
</style>
<body>
    <div>
        <div id="header">

            <header>
                <div class="header_top">
                   <div class="top">
                      <li><a href="#" class="top_btn"><b>마이페이지</b></a></li>
                      <li><a href="#" class="top_btn"><b>로그인</b></a></li>
                   </div>
                </div>
                <nav class="navbar">
                   <div class="navbar_title">
                      <a href="#"><font size ="7"><p class="jungba">정</p></font>부지원금<font size ="7"><p class="jungba">바</p></font>로 지금</a>
                   </div>
                   <div class="navbar_menu">
                      
                      <li><a href="#">공지사항</a></li>
                      <li><a href="#">지원정책</a></li>
                      <li><a href="#">커뮤니티</a></li>
                      <li><a href="#">대외활동</a></li>
                      <li><a href="#">Q / A</a></li>
                      
                   </div>
                   <div class="navbar_logo">
                      <img id="logo" src="../Media/logo.png" width = "80px" height = "80px">
                   </div>
                </nav>
             </header> 
             <hr>
            </div>
            
           <div>
    <section>
      <h1>대외활동 글쓰기</h1>
        <div id=mainbox>
                <div class=textline1>기관명 : <input type ="text" name = "기관명" ></div>
                <div class=textline1>홈페이지 : <input type ="text" name = "홈페이지" ></div>
                <div class=textline2>
                    <span>담당자 : <input type ="text" name = "담당자"   ></span>
                    <span>직위 : <input type ="text" name = "직위"   ></span>
                </div>
                <div class=textline2>
                    <span>연락처 : <input type ="tel" name = "연락처"   ></span>
                    <span>이메일 : <input type ="text" name = "이메일"   ></span>
                </div>
                
               
                <br>

                <div class="container">
                    <div class="infomation">
                      <ul class="infomation-list">
                        <li class="infomation-item"><a href="" class="infomation-link">카테고리:</a></li>
                        <li class="infomation-item"><a href="" class="infomation-link">대상별:</a></li>
                        <li class="infomation-item"><a href="" class="infomation-link">지역별:</a></li><br><br><br>
                        
                        
                      </ul>
                    </div>
                    <!-- //nav -->
                  </div>


                <div class="information-answer">
                  <div> 
                  <select class="select">
                    <option>공모전</option>
                    <option>채용박람회/취업설명회</option>
                    <option>경진대회</option>
                    <option>봉사활동</option>
                    <option>서포터즈</option>
                    <option>관람/전시/체험</option>
                 </select>
                  </div>
                  <div class="parent">
                    <table class="table4">
                      <th>
                        <td><button class="first">청년<br>(18~34세) </button></td>
                        <td><button class="first">중년<br>(35~49세) </button></td>
                        <td><button class="first">장년<br>(50~64세) </button></td>
                        <td><button class="first">어르신<br>(65세 이상) </button></td>
                      </th>
                    </table>
                  </div>
                  <div id = "areatable_div">
                    <table id= "areatable">
                      <tr>
                        <td><button class = "areabutton" id= "GP">가평군</button></td>
                        <td><button class = "areabutton" id= "GY">고양시</button></td>
                        <td><button class = "areabutton" id= "GC">과천시</button></td>
                        <td><button class = "areabutton" id= "GM">광명시</button></td>
                        <td><button class = "areabutton" id= "GJ">광주시</button></td>
                        <td><button class = "areabutton" id= "GL">구리시</button></td>
                        <td><button class = "areabutton" id= "GP2">군포시</button></td>
                      </tr>
                      <tr>
                        <td><button class = "areabutton" id= "GP3">김포시</button></td>
                        <td><button class = "areabutton" id= "NYJ">남양주시</button></td>
                        <td><button class = "areabutton" id= "DDC">동두천시</button></td>
                        <td><button class = "areabutton" id= "BC">부천시</button></td>
                        <td><button class = "areabutton" id= "SN">성남시</button></td>
                        <td><button class = "areabutton" id= "SW">수원시</button></td>
                        <td><button class = "areabutton" id= "SH">시흥시</button></td>
                      </tr>
                      <tr>
                        <td><button class = "areabutton" id= "AS">안산시</button></td>
                        <td><button class = "areabutton" id= "AY">안양시</button></td>
                        <td><button class = "areabutton" id= "PJ">파주시</button></td>
                        <td><button class = "areabutton" id= "PT">평택시</button></td>
                        <td><button class = "areabutton" id= "PC">포천시</button></td>
                        <td><button class = "areabutton" id= "HN">하남시</button></td>
                        <td><button class = "areabutton" id= "HS">화성시</button></td>
                       
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
                <br>
              </div>
              
       
    </section>







            <div>
        <div id="footer">
                <p align=center>Copyrightⓒ2020 Flower than java Project All Rights Reserved.<br>
                    주소 : 서울시 강남구 논현동 99-9번지 政바
                </p>
        </div>
    </div>
  </div>

</body>
</html>
