<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Test</title>
<style>

    #navul {  list-style-type: none; margin: 0; padding-left: 100px; overflow: hidden; }

    #navli { float: left; background-color: lightgray; border-right: solid 1px white;}

    #nava { display: block; color: black; padding: 20px; text-decoration: none;

        text-align: center; font-weight: bold; }

    #nava:hover { background-color: silver; color: white; }

/* li:last-child { border-right: none; } */

</style>
</head>
<body>
    <nav>
        <ul id="navul">
            <li id="navli"><a href="#" id="nava">공지사항</a></li>
            <li id="navli"><a href="#" id="nava">지원정책</a></li>
            <li id="navli"><a href="#" id="nava">자유게시판</a></li>
            <li id="navli"><a href="#" id="nava">"Q / A</a></li>
        </ul>
    </nav>
</body>
</html> 





