<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="../resources/css/headerfooter.css">
<!-- <script src="../resources/js/slides.js"></script> -->
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<title>My Page</title>
<style>

</style>
</head>
<body>

	<header>
		<div class="header_top">
		   <div class="top">
			  <li><a href="#" class="top_btn"><b>마이페이지</b></a></li>
			  <li><a href="#" class="top_btn"><b>로그인</b></a></li>
		   </div>
		</div>
		<nav class="navbar">
		   <div class="navbar_title">
			  <a href="#"><font size ="7">정</font>부지원금<font size ="7">바</font>로 지금</a>
		   </div>
		   <div class="navbar_menu">
			  <li><a href="#">공지사항</a></li>
			  <li><a href="#">지원정책</a></li>
			  <li><a href="#">커뮤니티</a></li>
			  <li><a href="#">대외활동</a></li>
			  <li><a href="#">Q / A</a></li>
		   </div>
		   <div class="navbar_logo">
			  <img id="logo" src="../Media/logo.png" width = "80px" height = "80px">
		   </div>
		</nav>
	 </header> 
	 <hr>

	
	<h2>마이페이지</h2>
	<hr>
	
	<ul>
		<li><a href=#>회원정보</a></li>
		<li><a href=#>나의 게시글</a>
			<ul>
				<li><a href=#>정보 게시판</a></li>
				<li><a href=#>자유 게시판</a></li>
				<li><a href=#>Q/A</a></li>
			</ul>
		<li><a href=#>회원 탈퇴</a></li>
	</ul>
	
	<h1>내가 쓴 글</h1>
	<hr>
	<table>
		<tr>
			<td>정보게시판</td>
			<td>자유게시판</td>
		</tr>
		<tr>
			<td>
				<table border="1">
					<tr>
						<th>No.</th>
						<th>제목</th>
						<th>날짜</th>
					</tr>
					<tr>
						<td>1</td>
						<td>최신글1</td>
						<td>2020.07.30</td>
					</tr>
					<tr>
						<td>2</td>
						<td>최신글2</td>
						<td>2020.07.29</td>	
					</tr>
					<tr>
						<td>3</td>
						<td>최신글3</td>
						<td>2020.07.29</td>
					</tr>
				</table>
			</td>
			<td>
				<table border="1">
					<tr>
						<th>No.</th>
						<th>제목</th>
						<th>날짜</th>
					</tr>
					<tr>
						<td>1</td>
						<td>제목1</td>
						<td>2020.07.30</td>
					</tr>
					<tr>
						<td>2</td>
						<td>제목2</td>
						<td>2020.07.29</td>	
					</tr>
					<tr>
						<td>3</td>
						<td>제목3</td>
						<td>2020.07.29</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	
	<footer>
		<p>
		   Copyrightⓒ2020 Flower than java Project All Rights Reserved.
		</p>
	</footer>
</body>
</html>


