<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="../resources/css/headerfooter.css">
<link rel="stylesheet" type="text/css" href="../resources/css/side.css">
<link rel="stylesheet" type="text/css" href="../resources/css/contents.css">
<link rel="stylesheet" type="text/css" href="../resources/css/pagination.css">
<!-- <script src="../resources/js/slides.js"></script> -->
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<title>My Page</title>
<style>

</style>
</head>
<body>

	<header>
		<div class="header_top">
		   <div class="top">
			  <li><a href="#" class="top_btn"><b>마이페이지</b></a></li>
			  <li><a href="#" class="top_btn"><b>로그인</b></a></li>
		   </div>
		</div>
		<nav class="navbar">
		   <div class="navbar_title">
			  <a href="#"><span class="lagefont">정</span>부지원금<span class="lagefont">바</span>로 지금</a>
		   </div>
		   <div class="navbar_menu">
			  <li><a href="#">공지사항</a></li>
			  <li><a href="#">지원정책</a></li>
			  <li><a href="#">커뮤니티</a></li>
			  <li><a href="#">대외활동</a></li>
			  <li><a href="#">Q / A</a></li>
		   </div>
		   <div class="navbar_logo">
			  <img id="logo" src="../Media/logo.png" width = "80px" height = "80px">
		   </div>
		</nav>
	 </header> 
	 <hr>

	 <div id="nav"></div>
	 <div id="side" >
		 <h2 ><a href="#">마이페이지</h2></a>
		 <hr>
		 <div> <a href="#"><h2>나의게시물</h2></a>
		 
		 <dl>
			 <dt><a href="#"><h3>정보게시판</h3></a></dt>
			 <dt><a href="#"><h3>자유게시판</h3></a></dt>
			 <dt><a href="#"><h3>Q / A</h3></a></dt>
		 </dl>
		 </div>
		 <a href="#"><h2>회원탈퇴</h2></a>
	 </div>
	
	 
	 <section>
		<!-- 컨텐츠 입력하는 곳!! -->
	 </section>



	 <footer>
		<div class="footer_box">
		   Copyrightⓒ2020 Flower than java Project All Rights Reserved.
		</div>
	 </footer>
</body>
</html>


