<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Login</title>
<style>


footer {
   width: 100%;
   height: 100px;
   padding-top: 3%;
   background-color: skyblue;
}
</style>
</head>
<body>

   <header>

   </header>
   
   <h2>마이페이지</h2>
   <hr>
   
   <ul>
      <li><a href=#>회원정보</a></li>
      <li><a href=#>나의 게시글</a>
         <ul>
            <li><a href=#>정보 게시판</a></li>
            <li><a href=#>자유 게시판</a></li>
            <li><a href=#>Q/A</a></li>
         </ul>
      <li><a href=#>회원 탈퇴</a></li>
   </ul>
   
   <h1>내가 쓴 글</h1>
   <hr>
   <table>
      <tr>
         <td>정보게시판</td>
         <td>자유게시판</td>
      </tr>
      <tr>
         <td>
            <table border="1">
               <tr>
                  <th>No.</th>
                  <th>제목</th>
                  <th>날짜</th>
               </tr>
               <tr>
                  <td>1</td>
                  <td>최신글1</td>
                  <td>2020.07.30</td>
               </tr>
               <tr>
                  <td>2</td>
                  <td>최신글2</td>
                  <td>2020.07.29</td>   
               </tr>
               <tr>
                  <td>3</td>
                  <td>최신글3</td>
                  <td>2020.07.29</td>
               </tr>
            </table>
         </td>
         <td>
            <table border="1">
               <tr>
                  <th>No.</th>
                  <th>제목</th>
                  <th>날짜</th>
               </tr>
               <tr>
                  <td>1</td>
                  <td>제목1</td>
                  <td>2020.07.30</td>
               </tr>
               <tr>
                  <td>2</td>
                  <td>제목2</td>
                  <td>2020.07.29</td>   
               </tr>
               <tr>
                  <td>3</td>
                  <td>제목3</td>
                  <td>2020.07.29</td>
               </tr>
            </table>
         </td>
      </tr>
   </table>
   
   <footer>
      <p align=center>
         Copyrightⓒ2020 Flower than java Project All Rights Reserved. <br>주소
         : 서울시 강남구 논현동 99-9번지 政바
   </footer>
</body>
</html>

