@charset "utf-8";

    header{
        margin-left: 5%; 
        margin-right: 5%; 
        margin-top: 3%;
        background-color:snow;
    }

    #headTitle{display: inline-block; font-weight:bold;}

    #logo{float:right;}

    .memberBtn{
        float:right;
        border-radius: 12px;
        border: none; 
        padding:10px;
    }
    #memberBtnMyPage{background-color: silver;}
    #memberBtnLogin{background-color: gray;}

    input[id ^= quickmenubtn]{
        margin-bottom:-8px;
        margin-right:-6px;
        border:1px; 
        padding:20px;
        font-family:"굴림체";
        font-weight:bold;
    }

    footer{
    width:100%;
    height:80px;
    padding-top:3%;
    background-color:snow;
    }
    .quickmenubtn input:hover{
        background: gray;
    }
