<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>게시판 기본틀</title>
    <link rel="stylesheet" type="text/css" href="../resources/css/headerfooter.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/side.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/pagination.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/boardtool.css">
</head>
<style>

</style>
<body>
    <header>
        <div class="header_top">
           <div class="top">
              <li><a href="#" class="top_btn"><b>마이페이지</b></a></li>
              <li><a href="#" class="top_btn"><b>로그인</b></a></li>
           </div>
        </div>
        <nav class="navbar">
           <div class="navbar_title">
              <a href="#"><span class="lagefont">정</span>부지원금<span class="lagefont">바</span>로 지금</a>
           </div>
           <div class="navbar_menu">
              <li><a href="#">공지사항</a></li>
              <li><a href="#">지원정책</a></li>
              <li><a href="#">커뮤니티</a></li>
              <li><a href="#">대외활동</a></li>
              <li><a href="#">Q / A</a></li>
           </div>
           <div class="navbar_logo">
              <img id="logo" src="../Media/logo.png" width = "80px" height = "80px">
           </div>
        </nav>
     </header> 
    <section>
        <aside>
            <a href="#"><h2> 커뮤니티</h2></a>
            <hr>
            <a href="#"><h2>정보 공유 게시판</h2></a>
            <a href="#"><h2>대외 활동 게시판</h2></a>
            <a href="#"><h2>자유 게시판</h2></a>
        </aside>
        <div id="main_section">
            <br>
            
            <h2 style="text-align: center;">정보 공유 게시판</h2>
            

            

    <table class="table"  width="800px" align="center">
    
    <caption>
    <div align = "right">
    <select>
        <option value= "5pc" >5개씩 보기</option>
        <option value= "10pc">10개씩 보기</option>
    </select>
    <button>글쓰기</button>
    </div>
    </caption>
    
        <thead>
        <tr id = "b-main">
            <th width= "30px">번호</th>
            <th width= "400px">제목</th>
            <th width= "50px">작성자</th>
            <th width= "100px">날짜</th>
            <th width= "40px">조회</th>
            <th width= "40px">추천</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td><a href>질문1</a></td>
            <td>구준표</td>
            <td>2020.08.02</td>
            <td>1</td>
            <td>1</td>
        </tr>
        <tr>
            <td>2</td>
            <td><a href>질문2</a></td>
            <td>박상준</td>
            <td>2020.08.02</td>
            <td>1</td>
            <td>1</td>
        </tr>
        <tr>
            <td>3</td>
            <td><a href>질문3</a></td>
            <td>김준표</td>
            <td>2020.08.02</td>
            <td>1</td>
            <td>1</td>
        </tr>
        <tr>
            <td>4</td>
            <td><a href>질문4</a></td>
            <td>백지후</td>
            <td>2020.08.02</td>
            <td>1</td>
            <td>1</td>
        </tr>
        <tr>
            <td>5</td>
            <td><a href>질문5</a></td>
            <td>구준표</td>
            <td>2020.08.02</td>
            <td>1</td>
            <td>1</td>
        </tr>
        </tbody>
    </table>
    <br>  
    
    <ul align="center">
    <div class = "pagination">
        <a href="#" title = "이전" class="pre"><</a>
        <a href="#" class="active">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#" title = "다음" class="next">></a>
    </div>
    </ul>
    </caption>
        </div>
    </section>
    <footer>
        <div class="footer_box">
            Copyrightⓒ2020 Flower than java Project All Rights Reserved.
        </div>
    </footer>
</body>
</html>



 