<!DOCTYPE html>
<html>
<head>
    
    <meta charset="UTF-8">
    <title>Layout01</title>
    <link rel="stylesheet" type="text/css" href="../resources/css/headerfooter.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/side.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/공지사항글쓰기.css">

    <script src="../../resources/js/slides.js"></script>

    <style>
    </style>
</head>
<body>
    <header>
        <div class="header_top">
           <div class="top">
              <li><a href="#" class="top_btn"><b>마이페이지</b></a></li>
              <li><a href="#" class="top_btn"><b>로그인</b></a></li>
           </div>
        </div>
        <nav class="navbar">
           <div class="navbar_title">
              <a href="#"><span class="lagefont">정</span>부지원금<span class="lagefont">바</span>로 지금</a>
           </div>
           <div class="navbar_menu">
              <li><a href="#">공지사항</a></li>
              <li><a href="#">지원정책</a></li>
              <li><a href="#">커뮤니티</a></li>
              <li><a href="#">대외활동</a></li>
              <li><a href="#">Q / A</a></li>
           </div>
           <div class="navbar_logo">
              <img id="logo" src="../Media/logo.png" width = "80px" height = "80px">
           </div>
        </nav>
     </header>
     <section>
        <aside>
            <a href="#"><h2>NO.01</h2></a>
            <hr>
            <a href="#"><h2>제목</h2></a>
            <a href="#"><h2>내용</h2></a>
            <br><br><br><br><br><br>
            <a href="#"><h2>첨부파일</h2></a>
        </aside>
        <div id="main_section">
            <br>
            
            <h2>자유게시판 제목</h2>
            
            <input type="text" id="text1" placeholder="제목을 입력해주세요."><br>
            <textarea id="textarea" placeholder="내용을 입력해주세요."></textarea><br>
            <input type="file" id="file"><br>
            <div id="buttons1">
                <button id="button1">등록</button>
                <button id="button2">취소</button>
            </div>
            <br>
        </div>

        <footer>
         <div class="footer_box">
             Copyrightⓒ2020 Flower than java Project All Rights Reserved.
         </div>
     </footer>
</body>
</html>

